@charset "UTF-8";

html {
    height: 100%;
}

/* body{
    height: 100%;
    background: #186AC9;
} */
/* rogin背景 */
body {
    height: 100%;
    background: linear-gradient(to bottom, #6ec1e4, #fbe850) !important;
    margin: 0;
    padding: 0;
}
